@font-face {
  font-family: 'Lato';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: local('Lato Regular'),
       url('./Assets/fonts/lato-regular-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'LatoBlack';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: local('Lato Black'),
       url('./Assets/fonts/lato-black-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'zeldaFont';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src:url('./Assets/fonts/pressstart2p-webfont.woff2') format('woff2');
}

////////////////////////////////////////
//      Font-Family Definitions       //
////////////////////////////////////////

$lato--regular= 'Lato', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
$lato--black= 'LatoBlack', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;

///////////////////////////////
//      Font Variables       //
///////////////////////////////
$display-font= $lato--regular;
$display-font--bold= $lato--black;
$body-font= $lato--regular;

////////////////////////////
//      Font Mixins       //
////////////////////////////
.displayFont {
  font-family : $display-font;
}

.displayFontBold {
  font-family : $display-font--bold;
}

.bodyFont {
  font-family : $body-font;
}
