.display__menu__wrapper {
    flexContainer();
    position : absolute;
    top      : 0;
    right    : 0;
    bottom   : 0;
    left     : 0;
    width    : 100%;
    background: $white;
    z-index  : 1;
    transform: translateY(-100%);
    transition: transform 300ms $ease-in-out-quint 300ms;

    &.display__menu__wrapper--active {
        transform : translateY(0);
    }

}

.display__menu {
    flexContainer();
    justify-content: space-around;
    flexItem(1, 1, auto);
    overflow-y: auto;
    padding: rem(10);
}

.display__menu__item {
  @extend .displayFont;
  styledAnchor(rem(24), $projectsColor, $white);
  flexItem(1, 1, auto);
  padding : rem(20);
  cursor  : pointer;

  &:first-of-type {
    margin-top: rem(150);
  }

  &:last-of-type {
    margin-bottom: rem(150);
  }
}
