// *******************************************
// *******************************************

// Page-Specific Styles

// *******************************************
// *******************************************

.page {
  position: relative;
  background: $gray--800;

  .heart-container {
    position: fixed;
    top: rem(20);
    right: rem(20);
    z-index: 3;

    img {
      height: rem(20);
      width: rem(20);
    }
  }
}

.menu-page,
.concepts-page,
.about-page,
.projects-page,
.elsewhere-page,
.secret-page {
    box-sizing : content-box;
    position   : fixed;
    top        : 0;
    right      : 0;
    bottom     : 0;
    left       : 0;
    overflow   : auto;
    -webkit-overflow-scrolling : touch;
}

.concepts-page,
.about-page,
.projects-page,
.elsewhere-page,
.secret-page {
    box-shadow : inset 0 0 300px 0 rgba($black, .1);
}

.menu-page {
    background : $off-white;
}

.concepts-page {
    background : $conceptsColor;
}

.about-page {
    background : $aboutColor;
}

.projects-page {
    background : $projectsColor;
}

.elsewhere-page {
    background : $elsewhereColor;
}

.secret-page {
    background : $gray--800;
}

.page__content-container {
    flexContainer();
    flex-direction: column
    flex-wrap  : nowrap;
    position   : relative;
    width      : 100%;
    min-height : 100vh;
}

.page__content {
  flexItem(0, 1, auto);
  box-sizing: border-box;
  position  : relative;
  width     : 100%;
  max-width : rem(1024);
  padding   : rem(10);
  margin    : auto;

  &.page__content--p-width {
    > * {
      max-width : rem(650);
      margin    : 0 auto rem(50);
    }
  }
}

.secret {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  height: calc(100vh - 20px);

  .secret__row {
    flex: 1 0 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 5vh;
    height: rem(48);

    &:first-of-type {
      padding-top : 10vh;
      padding-bottom: 0;
    }
    
    &:nth-of-type(2) {
      padding-bottom: 5vh;
    }

    &:last-of-type {
      padding-top: 7vh;
    }

  }
  
  .title {
    color: $white;
    font-size: rem(32);
    font-family: 'zeldaFont';
    text-align: center;
    margin-bottom: rem(40);
    margin: 0;
  }
}